<!DOCTYPE html>
<html>

<head>
    <title>  </title>
</head>
<body>

<a href="/queries/thing"> </a> <br />

<table border = "1">
    <tr>

        <th> COLUMN </th>


    </tr>
    <% for(var i = 0; i < result.length; i++){ %>
    <tr>

        <td><%= result[i].fname %></td>
        <td><%= result[i].lname %></td>
        <td><%= result[i].wage %></td>


    </tr>
    <% } %>
</table>

</body>
<head/>
</html>