<!DOCTYPE html>
<html>

<head>
    <title>  </title>
</head>
<body>

<h1> Queries - Group By </h1>
<h4> This query returns number of events each of the companies have worked.</h4>

<a href="/queries/group_by"> </a>

<table border = "1">
    <tr>
        <th> Company Name </th>
        <th> Events Worked </th>
    </tr>
    <% for(var i = 0; i < result.length; i++){ %>
    <tr>
        <td><%= result[i].name %></td>
        <td><%= result[i].events_worked %></td>
    </tr>
    <% } %>
</table>

</body>
<head/>

</html>