<!DOCTYPE html>
<html>

<head>
    <title>  </title>
</head>
<body>

<h1> Queries - Union </h1>
<h4> This query returns all of the states where events are held, and where companies reside. </h4>

<a href="/queries/union"> </a> 

<table border = "1">
    <tr>
        <th> State </th>
    </tr>
    <% for(var i = 0; i < result.length; i++){ %>
    <tr>
        <td><%= result[i].state %></td>
    </tr>
    <% } %>
</table>

</body>
<head/>

</html>