<!DOCTYPE html>
<html>

<head>
    <title> Queries - Join, Group By, Having  </title>
</head>
<body>

<h1> Queries - Join, Group By, Having </h1>
<h4> This query returns the name of the customer who has had the most events catered. </h4>

<a href="/queries/join_group_having"> </a>

<table border = "1">
    <tr>
        <th>First Name </th>
        <th> Last Name </th>
    </tr>
    <% for(var i = 0; i < result.length; i++){ %>
    <tr>
        <td><%= result[i].fname %></td>
        <td><%= result[i].lname %></td>
    </tr>
    <% } %>
</table>

</body>
<head/>

</html>
