<!DOCTYPE html>
<html>

<head>
    <title>  </title>
</head>
<body>

<h1> Queries - IN </h1>
<h4> This query returns a list of all of the companies who are located in the State of NY. </h4>

<a href="/queries/in"> </a>

<table border = "1">
    <tr>
        <th> Company Name </th>
    </tr>
    <% for(var i = 0; i < result.length; i++){ %>
    <tr>
        <td><%= result[i].name %></td>
    </tr>
    <% } %>
</table>

</body>
<head/>

</html>