<!DOCTYPE html>
<html>

<head>
    <title>  </title>
</head>
<body>

<h1> Queries - Order By </h1>
<h4> This query returns a list of all the customers ordered by last name, first name. </h4>

<a href="/queries/order_by"> </a>

<table border = "1">
    <tr>
        <th> Fist Name </th>
        <th> Last Name </th>
    </tr>
    <% for(var i = 0; i < result.length; i++){ %>
    <tr>
        <td><%= result[i].fname %></td>
        <td><%= result[i].lname %></td>
    </tr>
    <% } %>
</table>

</body>
<head/>
</html>