<!DOCTYPE html>
<html>
  <head>
    <h1><%= "Project 2" %></h1>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= "Pages" %></h1>

    <a href="http://localhost:3000/address1/all">Address</a>
    <br />
    <a href="http://localhost:3000/company1/all">Company</a>
    <br />
    <a href="http://localhost:3000/employee/all">Employee</a>
    <br />
    <a href="http://localhost:3000/customer/all">Customer</a>
    <br />
    <a href="http://localhost:3000/event/all">Event</a>
    <br/>
    <br/>

    <h1><%= "Queries" %></h1>
    <br />
    <a href="http://localhost:3000/queries/correlated">Correlated</a>
    <br />
    <a href="http://localhost:3000/queries/compare">Compare</a>
    <br />
    <a href="http://localhost:3000/queries/correlated">Correlated</a>
    <br />
    <a href="http://localhost:3000/queries/distinct">Distinct</a>
    <br />
    <a href="http://localhost:3000/queries/exists">Exists</a>
    <br />
    <a href="http://localhost:3000/queries/in">IN</a>
    <br />
    <a href="http://localhost:3000/queries/join">Join</a>
    <br />
    <a href="http://localhost:3000/queries/join_group_having">Join, Group By, Having </a>
    <br />
    <a href="http://localhost:3000/queries/order_by"> Order By </a>
    <br />
    <a href="http://localhost:3000/queries/union">Union</a>

  </body>
</html>
