<!DOCTYPE html>
<html>

<head>
    <title> Company - ADD </title>
</head>
    <body>
        <h1> Add New Company </h1>
        <form action="/company1/insert" method="get">
        Name of Business: <input name="name" type="text" />
        Owner First Name: <input name="owner_fname" type="text" />
        Owner Last Name: <input name="owner_lname" type="text" />

        <br />
        <br / >
    Address
      <select name="address_id">
            <% for(var i=0; result.length > i; i++ ) {

                                  var selected = "";
                                  if(result[i].comp_id !== null) {
                                      selected = "selected";
                                  }
                              %>
                                     <option <%= selected %> value = "<%= result[i].address_id %>">  <%= result[i].street + ', ' + result[i].city + ', ' + result[i].state + ', ' + result[i].zip_code %></option>

                            <% } %>
                            </select>
                            <br / >
        <br />

        <input type = "submit" />

        </form>
    </body>
</html>