<!DOCTYPE html>
<html>

<head>
    <title> Customer - ADD </title>
</head>
    <body>
        <h1> Add New Customer </h1>
        <form action="/customer/insert" method="get">
        First Name: <input name="fname" type="text" />
        Last Name: <input name="lname" type="text" />

        <br />
        <br />

             Address
                <select name="address_id">

                 <% for(var i=0; address_result.length > i; i++ ) {
                            var selected = "";%>

                 <option <%= selected %>
                         value = "<%= address_result[i].address_id %>">
                        <%= address_result[i].street + ', ' +
                        address_result[i].city + ', ' +
                        address_result[i].state + ', ' +
                        address_result[i].zip_code %>
                 </option>

                 <% } %>
                 <br />
                 </select>
                 <br />

                <input type = "submit" />

        </form>
    </body>
</html